services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: vaultwarden
      POSTGRES_DB: vaultwarden_db
      POSTGRES_PASSWORD: strongpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data


  vaultwarden:
    image: vaultwarden/server:1.34.3
    environment:
      WEBSOCKET_ENABLED: 'true'
      DOMAIN: "http://vaultwarden.localhost"
      LOG_LEVEL: "info"
      ROCKET_PORT: 80
      ADMIN_TOKEN: "9015d3531450f522ac08a43c1c7e6d2be78f0aa5d84e63dcf4116fb7640c6543"
      DATABASE_URL: "postgresql://vaultwarden:strongpassword@postgres:5432/vaultwarden_db"
    depends_on:
      - postgres
    volumes:
      - vaultwarden_data:/data
    ports:
      - "8080:80"   # acceso web
      - "3012:3012" # websocket

volumes:
  vaultwarden_data:
    driver: local
  postgres_data:
    driver: local
