services:
  cfssl:
    image: cfssl/cfssl:latest
    container_name: cfssl
    ports:
      - "8888:8888"
    volumes:
      - ./pki:/etc/cfssl
    working_dir: /etc/cfssl
    command: serve -address=0.0.0.0 -port=8888 -ca=ca.pem -ca-key=ca-key.pem -config=config.json -loglevel=0
    restart: unless-stopped
  apache:
    image: httpd:2.4.65-bookworm
    container_name: apache
    ports:
      - "8080:80"
      - "8043:443"
    volumes:
      - ./pki:/usr/local/apache2/pki
      - ./apache/conf/extra/httpd-ssl.conf:/usr/local/apache2/conf/extra/httpd-ssl.conf:ro
    restart: unless-stopped
volumes:
  apache-conf:
    driver: local
